<div class="container">
    <div class="row" style="display: flex; justify-content:space-around;">
        <div class="col s12 m4 green darken-3 main-col">
            <div class="header-img">
                <img id="spongebob" src="assets/img/spongebob.png" width="90%">
            </div>
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div class="col s12 m4 yellow accent-2 main-col center">
            <img src="assets/img/burger.png" width="100%">
            <h2>Inhale a Burger</h2>
            <div id="menu-ID">

            </div>
            <form class="create-form">
                <div class="form-group">
                    <label for="new-burger">Name Your Burger:</label>
                    <input type="text" id="new-burger" name="name">
                </div>
                {{!-- <button type="submit">Add Burger</button> --}}
                 <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Add Burger
                     <i class="material-icons right">send</i>
                 </button>
        
            </form>
        </div>
        <div class="col s12 m4 green darken-3 main-col">
            <div class="header-img">
                <img id="patrick" src="assets/img/patrick.png" width="90%">
            </div>
            
            <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block}}
                {{/if}}
            {{/each}}
            </ul>
        </div>       
    </div>
</div>








