body {
    background-image: url(../img/tablecloth.png);
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 680px;
}

.main-col {
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    margin: 32px 8px;
    padding-bottom: 32px!important;
    min-width: 312px;
}

.main-col:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

li:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.header-img {
    /* margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; */
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

li {
    width: 90%;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 4px;
    background-image: url("../img/board.png");
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

li img {
    height: 50px;
}

.devour:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}